/* * {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
.container {
  border: 2px solid black;
  width: 50vh;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 100%;
  display: flex;
  justify-content: center;
} */

h1 {
  text-align: center;
}
