<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Edit Comment</h1>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post">
        <label for="username">Username: </label>
        <input type="text" placeholder="username" name="username" id="username" value="<%= comment.username %>"
            disabled>
        <br><br>
        <label for="comment">Comment:</label>
        <textarea placeholder="comment" name="comment" id="comment"><%= comment.comment %></textarea>
        <br><br>
        <button type="submit">Save</button>
        <br><br>
        <a href="/comments">Go Back</a>
    </form>
</body>

</html>