<nav class="navbar fixed-top navbar-expand-sm" style="background-color: orchid;">
    <div class="container">
        <a class="navbar-brand" href="/furniture">Authentication</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <div class="d-flex">
                <% if(currentUser){%>
                    <h2 class="fw-light">
                        <%= currentUser.username %>
                    </h2>
                    <% } %>
                        <% if(!currentUser){%>
                            <a class="btn btn-outline-dark" href="/login">Login</a>
                            <% } else{%>
                                <a class="btn btn-outline-dark mx-2" href="/logout">Logout</a>
                                <% } %>
            </div>
        </div>
    </div>
</nav>