<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <div class="mt-5">
            <h1 class="mt-5">Signup</h1>
        </div>
        <%- include('../partials/footer') %>